[Desktop Entry]
Name=QuakMeeting
GenericName=Meeting Reminders & Flight Deck
Comment=Smart Meeting Reminders & Flight Deck HUD for Desktop
Exec=quakmeeting
Icon=com.quakmeeting.QuakMeeting
Terminal=false
Type=Application
Categories=Office;Calendar;Utility;Qt;
Keywords=Meeting;Calendar;Reminder;Timer;HUD;Flight;
StartupNotify=true
StartupWMClass=quakmeeting
